.ImagemProfile {
  text-align: center;
}

.ImagemProfile img {
  border-radius: 50%;
  width: 150px;
  border: 1px solid #fff;
  padding: 2px;
}

.title-h1 {
  text-align: center;
  margin: 20px 0;
}

.paragraph-p {
  text-align: center;
  line-height: 25px;
}
